@{
    ViewBag.Title = "A propos de Petcare";
    ViewBag.Description = "Petcare c'est";
}

<h3><a href="#">@ViewBag.Title</a></h3>
<h6>@ViewBag.Description</h6>
<h6>&nbsp;</h6>

<p>Petcare est une solution innovante qui permet aux proprétaires d'animaux domestiques de trouver un accueillant pour leur animal pendant une periode de déplacement.</p>
<p>Le principe est simple:</p>
<ol>
    <li>Le propriétaire s'inscrit sur le site</li>
    <li>Il publie une annonce en précisant la périiode de la disponibilité sde son animal</li>
    <li>L'internaute consulte l'annonce</li>
    <li>Il contacte le propriétaire et organise un RDV</li>
    <li>Et l'adoption est finalisée...</li>
</ol>

<h6>&nbsp;</h6>