@{
    ViewBag.Title = "A propos de nous";
    ViewBag.Description = "L'équipe Petcare";
}

<h3><a href="#">@ViewBag.Title</a></h3>
<h6>@ViewBag.Description</h6>
<h6>&nbsp;</h6>

<p>Nous sommes Dieulin, Sofiane et Gissel. un groupe de trois étudiants de Master Informatique option Infrastructure Architecture Génie Logiciel à l'université Sciences et Technologies Lille 1.</p>
<p>Dans le cadre de notre veille technologique, nous vous avons développé Petcare, solution pour repondre au besoin des propriétaires d'animaux de trouver où laisser leur compagnon de famille lors de leurs déplacements.</p>

<h6>&nbsp;</h6>

@{
    ViewBag.Description = "Contactez nous";
}

<h6>@ViewBag.Description</h6>

<address>
    Cité Scientifique <br />
    59655 Villeneuve d'Ascq Cedex<br />
    <abbr title="Phone">Téléphone :</abbr>
    +33 06 00 00 00 00
</address>

<address>
    <strong>Support:&nbsp;</strong><a href="mailto:Support@petcare.com">support@petcare.com</a><br />
    <strong>Marketing:&nbsp;</strong><a href="mailto:Marketing@petcare.com">marketing@petcare.com</a>
</address>

<h6>&nbsp;</h6>