@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cité Scientifique <br />
    59655 Villeneuve d'Ascq Cedex<br />
    <abbr title="Phone">P:</abbr>
    +33 06 00 00 00 00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@petcare.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@petcare.com</a>
</address>