@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "Petcare";
    ViewBag.Description = "Adopter un animal, c'est facile !";
}

<h3><a href="#">@ViewBag.Title</a></h3>
<h6>@ViewBag.Description</h6>
<h6>&nbsp;</h6>

<a class="th radius" href="@Url.Content("~/Content/Petcare/img/car1.jpg")">
    <img src="@Url.Content("~/Content/Petcare/img/car1.jpg")">
</a>

<h6>&nbsp;</h6>
<div class="row">
    <div class="large-6 columns">
        <div class="panel radius">
            <h4>Contraintes</h4>
            <blockquote>
                <p>Les départs en vacances sont fréquents. On a ne sait toujours pas où laisser votre cher animal.</p>
                <p>
                    Ne laissez plus jamais votre ami seul ! Pensez à Petcare
                    <cite>Petcare team</cite>
                </p>
            </blockquote>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="panel radius">
            <h4>Agissons ensemble</h4>
            <blockquote>
                <p>Une annonce peut suffir pour donner un sourire à votre animal de compagnie.</p>
                <p>
                    Alors n'attendez plus ! Inscrivez vous dès à présent sur notre site
                    <cite>Petcare team</cite>
                </p>
            </blockquote>
        </div>
    </div>
</div>

<h6>&nbsp;</h6>