@model WebApplication1.Models.RegisterViewModel

<a class="th radius" href="@Url.Content("~/Content/Petcare/img/Pets2.jpg")">
    <img src="@Url.Content("~/Content/Petcare/img/Pets2.jpg")">
</a>

<h6>&nbsp;</h6>
<div class="row">
    <div class="large-6 columns">
        <div class="panel radius">
            <h4>Contraintes</h4>
            <blockquote>
                <p>Les départs en vacances sont fréquents. On a ne sait toujours pas où laisser notre cher animal.</p>
                <p>
                    Quand ce besoin se fait entendre, pensez à Petcare ! Ne laissez plus votre ami seul...
                    <cite>Petcare team</cite>
                </p>
            </blockquote>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="panel radius">
            <h4>Notre solution Petcare</h4>
            <blockquote>
                <p>Rien de plus facile qu'une annonce sur Petcare pour redonner du sourire à votre animal de compagnie.</p>
                <p>
                    Alors n'attendez plus ! Inscrivez vous vite car une famille l'attend...
                    <cite>Petcare team</cite>
                </p>
            </blockquote>
        </div>
    </div>
</div>

<h6>&nbsp;</h6>
