@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "Petcare";
    ViewBag.Description = "Adopter un animal, c'est facile !";
}

<h3><a href="#">@ViewBag.Title</a></h3>
<h6>@ViewBag.Description</h6>
<h6>&nbsp;</h6>

<a class="th radius" href="@Url.Content("~/Content/Petcare/img/car1.jpg")">
    <img src="@Url.Content("~/Content/Petcare/img/car1.jpg")">
</a>

<h6>&nbsp;</h6>
<div class="row">
    <div class="large-6 columns">
        <div class="panel radius">
            <h4>Contraintes</h4>
            <p>Les départs en vacances sont fréquents. On a ne sait toujours pas où laisser votre cher animal.</p>
            <p>N'abondonnez plus jamais votre ami ! Pensez à Petcare</p>
            <cite>Petcare team</cite>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="panel radius">
            <h4>Agissons ensemble</h4>
            <p>Une annonce peut suffir pour donner un sourire à votre animal de compagnie.</p>
            <p>Alors n'attendez plus !</p>
            <cite>Petcare team</cite>
        </div>
    </div>
</div>
